.header {
  padding: 10px 30px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  position: sticky;
  z-index: 100;
  top: 0;
  left: 0;

  &__left {
    & .logo {
      display: block;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      top: 2px;
      display: none;

      & img {
        width: 45px;
        height: 45px;
      }
    }
  }
  @media only screen and (max-width: 950px) {
    &__left {
      & .logo {
        display: block;
        margin-right: 20px;
      }
    }
  }

  @media only screen and (max-width: 530px) {
    & {
      padding: 10px 10px;
    }
    & .add__button {
      display: none;
    }
  }

  & .user {
    & .full__name {
      text-transform: capitalize;
      display: block;
      margin-left: 10px;
    }
    & .avatar {
      display: flex;
      align-items: center;

      & .full__name {
        text-align: center;
      }

      & .role {
        display: block;
        margin: 0 auto;
        width: fit-content;
        background: #eee;
        padding: 4px 20px;
        margin-top: 5px;
        border-radius: 5px;
        text-transform: capitalize;
        font-size: 13px;
        color: #3447b3;
        font-weight: 500;
      }
    }
  }

  & .search {
    position: relative;
    margin-right: 20px;

    @media only screen and (max-width: 1100px) {
      & {
        display: none !important;
      }
    }

    & svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 8px;
      color: #555;
      font-size: 20px;
    }
    & input {
      width: 350px;
      padding: 10px;
      padding-left: 34px;
      border: 1px solid #aaa;
      border-radius: 7px;
      background: #f8f8f8;
      color: #444;
      font-size: 16px;
    }
  }

  & .menu {
    display: none;
    margin-left: 11px;

    & svg {
      font-size: 28px;
    }

    @media only screen and (max-width: 950px) {
      & {
        display: flex;
      }
    }
  }
}
